
header .jumbotron
{
  background-color: #171819;
  color: white;
  padding:0;
  margin: 0;
}
header ul
{
  position: absolute;
  top: 0px;
  left: 70%;
}
header .lead{
  padding:0;
  margin: 0;
}

form{
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
}
