@font-face {
    font-family: Ostrich;
    src: url(../fonts/ostrich-sans-inline-regular.ttf);
}
.display-4
{
  color: orange;
  font-size: 5.5rem;
  font-family: ostrich;
  letter-spacing: 0.2rem;
  margin-top: -10px;
  margin-bottom: 8px;
}

header .jumbotron
{
  background-color: #171819;
  color: orange;
  color: white;
  padding: 0px 0px 5px 10px;
  margin: 0;
}
header ul
{
  position: absolute;
  top: 0px;
  right: 13%;
}
header .lead{
  padding:0;
  margin: 0;
  color: orange;
}

.form-inline{

  padding-bottom: 5px;
  margin-top: 5px;
  width:80%;
  margin: 0 auto;
}
.form-inline label
{
  justify-content: left;
}


.home-link{
  color: white;
}
.home-link:hover{
  text-decoration: none;
  color:white;
}

.filters{
  padding-top: 50px;
}
