
.content
{
  padding-left: 50px;
}
h3, h4
{
  padding-top: 50px;
  margin-bottom: 30px;

}

img
{
  max-width: 200px;
  max-height: 350px;
  margin: 0 auto;
}

.movie-meta-side
{
  border-left: 1px solid black;
}

.cast
{
  width: 70%;
}

.post-review{
  min-width: 100%;

}
textarea
{
  min-width: 90%;
  text-align: left;
}
.reviews .col-md-3 p
{
  margin-bottom: -5px;
}

.rating
{
  display: inline;

}

.delete{
  margin-left: -30px;
  margin-top: 5px;
}

.rating-slider
{
  background-color: grey;
  max-width: 150px;
  padding: 5px;
}
.rating-slider label
{
  font-size: 30px;
}
.rating-slider input
{
  width: 100%;
}

.enable-review-div
{
  background-color: grey;
  padding: 2px;
  width: 150px;
}
