@font-face {
    font-family: Ostrich;
    src: url(../fonts/ostrich-sans-inline-regular.ttf);
}

body {
	background-image: url("../images/smokey_background.png");
	background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
	font-family: Calibri;
	color: #F0F0F0;
}

#siteLogo {
	margin: 0px -15px;
}

#siteLogoName {
	color: orange;
	margin-left: 15px;
	text-decoration: none;
	font-size: 5.5rem;
	font-family: ostrich;
	font-weight: normal;
	letter-spacing: 0.2rem;
}

#siteLogoName:hover {
	color: orange;
	text-decoration: none;
}

.vertical-center {
	display: flex;
	align-items: center;
}

#registerContainer {
	margin: auto;
	color: #0F0F0F;
	max-width: 600px;
	min-width: 200px;
	max-height: fit-content;
	background-color: rgba(220.0, 220.0, 220.0, 0.9);
	padding: 30px;
	border-radius: 10px;
}

#buttonBox {
	margin: 20px 20px 5px;
}

.red-button {
	color: #F0F0F0;
	padding: 10px;
	border: none;
	font-size: 20px;
	background-color: #AA0000;
	border-radius: 20px;
}

p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}

a:link {
	color: #0F0F0F;
	font-weight: bold;
}

a:hover {
	color: #AA0000;
}

a:visited {
	color: #0F0F0F;
}